<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline'  'self' data: gap: ws: ; script-src 'self' http://localhost:3305; script-src-elem 'self' http://localhost:3305; style-src 'self' 'unsafe-inline' http://localhost:3305;">
    <base target="_blank" />
    <title>Popup</title>
    <link
      rel="stylesheet"
      href="@/styles/reset.css"
    />
    <link
      rel="stylesheet"
      href="@/styles/styles.css"
    />
  </head>
  <body style="min-width: 400px">
    <div
      class="sotatek-tlcd"
      id="app"
    ></div>
    <script
      type="module"
      src="./index.ts"
    ></script>
  </body>
</html>
